:root {
    --green: hsl(75, 100%, 50%);
    --white: hsl(0, 0%, 100%);
    --grey-700: hsl(0, 0%, 20%);
    --grey-800: hsl(0, 0%, 12%);
    --grey-900: hsl(0, 0%, 8%);
}



body {
    font-family: "sans";
    background-color: var(--grey-900);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 360px;
    color: var(--white);
    padding: 30px;
    border-radius: 16px;
    background-color: var(--grey-800);
    text-align: center;
}

.card-avatar {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.card-address {
    color: var(--green);
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    margin-bottom: 24px;
}

.card-info {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
}

.card-social-link {
    background-color: var(--grey-700);
    color: var(--white);
    text-decoration: none;
    display: block;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 10px;
    transition: all 0.2s ease;
}

.card-social-link:last-child {
    margin-bottom: 0;
}

.card-social-link:hover {
    background-color: var(--green);
    color: var(--grey-900);
}
